<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">

	<style type="text/css">
	body, html {
	  height: 100%;
	}
	</style>
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1508755177404-3f3e99946996?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);background-repeat: no-repeat;background-position: center;background-size: cover;text-align: center;">
	<h1 style="padding-bottom: 5%;font-weight: bolder;margin-top: 10%;background-color: rgba(0,0,0,0.8);width: 50%;border-radius: 20px;;margin-left: 25%;height: 10%;color: white;" class="jumbotron">
				<span style="color: grey;">Covert</span> Messaging <span class="glyphicon glyphicon-eye-close"></span>
		</h1>
	<div class="jumbotron" style="background-color: rgba(0,0,0,0.8);width: 50%;border-radius: 20px;margin-left: 25%">
		<a href="/signup"><button class="btn btn-lg btn-danger">Signup&nbsp;<span class="glyphicon glyphicon-edit"></span></button></a>&nbsp;&nbsp;
		<a href="/login"><button class="btn btn-lg btn-danger">Login&nbsp;<span class="glyphicon  glyphicon-log-in"></span></button></a>
	</div>
</body>
</html>