<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">

	<style type="text/css">
	body, html {
	  height: 100%;
	}


	</style>
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);background-repeat: no-repeat;background-position: center;background-size: cover;text-align: center;">
	<h1 style="padding-bottom: 5%;font-weight: bolder;margin-top: 5%;background-color: rgba(0,0,0,0.8);width: 50%;border-radius: 20px;;margin-left: 25%;height: 10%;color: white;" class="jumbotron">
				<span style="color: grey;">Covert</span> Messaging <span class="glyphicon glyphicon-eye-close"></span>
		</h1>
	<div class="jumbotron" style="background-color: rgba(0,0,0,0.8);width: 50%;border-radius: 20px;margin-left: 25%;">
	<form method="post" action="/signup">
		<h3 style="color: white;">SIGNUP</h3>
		<table class="table">
			<tr>
				<td style="color: white;">
					Enter Email Id
				</td>
				<td>
					<input type="text" name="email">
				</td>
			</tr>
			<tr>
				<td style="color: white;">
					Enter Password
				</td>
				<td>
					<input type="password" name="password">
				</td>
			</tr>
		</table>
		<input type="submit" name="sub" class="btn btn-success btn-md">
	</form>
</div>
</body>
</html>