<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">

	<style type="text/css">
	body, html {
	  height: 100%;
	}


	</style>
	<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  </style>

</head>
<body style="background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);background-repeat: no-repeat;background-position: center;background-size: cover;text-align: center;">
	<div class="navbar navbar-inverse set-radius-zero navbar-fixed-top" style="background-color: #bfd4f5;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:black; font-size:25px;">
					<span style="color: grey;">Covert</span> Messaging <span class="glyphicon glyphicon-eye-close"></span>
                </a>
			</div>
           <ul class="nav navbar-nav navbar-right">
     	    <li style="font-size: 25px;"><a href="/logout" style="color: black;"> <span class="glyphicon glyphicon-log-out"></span></a></li>
                <li>
                	<a href="/" target="_blank"><span class="glyphicon glyphicon-eye-close" style="font-size: 25px;color: black;"></span></a>
                </li>

            </ul>
            </div>
        </div>
        <div style="margin-top: 10%;text-align: center;">
          <h1>WELCOME</h1><br><br>
          <%if(user.verified=="False"){%>
           <marquee>Verify email by clicking the verification link in mail</marquee>
        <%} else{%>
        <a href="/embedd" class="btn btn-lg btn-success">Embedd File</a>&nbsp;&nbsp;
        <a href="/analyze" class="btn btn-lg btn-warning">Steganalyze File</a>&nbsp;&nbsp;
        <%}%>
        </div>
      </body>
      </html>